<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .myclass{
            padding: 30px;
            background-color: rgb(255, 193, 7);
            margin-bottom: 20px;
            margin-inline-end: 40px;
           margin-top: 20px;
           FONT-WEIGHT: 1000;
           font-size: large;
            
        }
        .mineclass{
            padding: auto;
            background-color: brown;
        }
    </style>
</head>
<div class="myclass">
    <body class="mineclass">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="SAVE">
        </form>
    </body>
</div>
</html>